.box {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    border: 1px solid grey;      
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;  
}
