body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: flex-end;
    background-color: aqua;
    min-height: 10vh;
}


ul {
    list-style: none;
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
svg {
    width: 25px;
    height: 25px;
}

.container-icon {
    width: 5%;
    display: none;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

@media ( max-width: 1000px) {
    ul {
        width: 40%;
    }
}

@media ( max-width: 700px ) {
    ul {
        display: none;
    }

    .container-icon {
        display: flex;
    }
}